.Profile{
    background-color: rgb(0, 68, 59);
}
h1 {

    margin-top: 20px;
    align-items: center;
    color: #d4dcd9;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    max-width: 800px;
 
 }