.reviews-page {
    min-height: 100vh;
    background-color: #35305c;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 40px 20px;
    color: papayawhip;
  }
  
  .review-split-container {
    display: flex;
    width: 100%;
    max-width: 850px;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    background-color: #312d3d;
  }
  
  .poster-section {
    flex: 1;
    background-color: #5d496c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .review-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -20px;
  }
  
  .form-section p {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  
  .review-textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #fff;
    color: #000;
    resize: vertical;
  }
  
  .submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #7685a1;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .submit-button:hover {
    background-color: black;
  }
  
  .review-default {
    text-align: left;
  }
  
  .review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    margin-top: 40px;
  }
  
  .stored-review {
    display: flex;
    align-items: flex-start;
    background-color: #665f89;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: papayawhip;
    transition: transform 0.2s ease;
    width: 450px;
    min-height: 220px;
  }
  
  .stored-review:hover {
    transform: translateY(-6px);
  }
  
  .stored-poster {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  
  .stored-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .stored-content h3 {
    font-size: 20px;
    margin: 0 0 12px 0;
  }
  
  .stored-content p {
    font-size: 14px;
    margin: 0 0 20px 0;
    line-height: 1.6;
  }
  
  .review-date {
    text-align: right;
    margin-top: 10px;
  }
  
  .review-date small {
    font-size: 12px;
    color: #ccc;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: papayawhip;
    text-decoration: none;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: -10px auto 20px;
  }
  