.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto; 
  }
  
  .search-bar {
    width: 100%;
    max-width: 500px; 
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(99, 89, 80);
  }
  